Django
pandas  
python-dotenv
langchain-core
langchain-huggingface
langchain-community
langchain-openai
tensorflow
joblib
fuzzywuzzy
python-Levenshtein
tiktoken
openpyxl
faiss-cpu
sentence-transformers
streamlit
langchain-google-genai
google-generativeai